body {
    height: 900px;
    background-image: url("../images/3ds_grass_texture241_173.jpg");
    background-position: center;
    background-size: cover;
}


#container {
    margin: 50px;
    color:#008000;
}

#logo {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    
}


#banner {
    width: 95%;
    height: 100px;
    margin: 0 auto;
    background: #000000;
    color: white;
    text-align: center;
    font-size: 3em;
}


#about {
   margin: 0 auto;
}

#login {

    height: auto;
    margin: 0 auto;
    padding: 20px;
    
}

#submit {
    margin: 0 auto;
    
}

.form-group {
    margin: 10px;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
}

.margin {
    margin: 0 auto;
}

.card-body {
    width: 36rem;
}

.card-text {
    width: 90%;
    margin: 0 auto;
}

.btn {
    margin: 0 auto;
}

