body {
    height: auto;
    background-image: url("../images/3ds_grass_texture241_173.jpg");
    background-position: fixed center;
    background-size: cover;
    background-repeat: no-repeat;
    
}


#container {
    margin: 50px;
    color:#008000;
}

#logo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    
}



#about {
   margin: 0 auto;
}

#login {

    height: auto;
    margin: 0 auto;
    padding: 20px;
    
}

#submit {
    margin: 0 auto;
    
}

.form-group {
    margin: 10px;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
}

.margin {
    margin: 0 auto;
}

.card-body {
    width: 36rem;
}

.card-text {
    width: 90%;
    margin: 0 auto;
}

.btn {
    margin: 0 auto;
}

