body {
    height: auto;
    background-image: url("../images/3ds_grass_texture241_173.jpg");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#container {
    margin: 50px;
    color:#008000;
}

#logo {
    width: 400px;
    height: 200px;
    margin-right: 100px;
    margin: 0 auto;    
}

#about {
   margin: 0 auto;
   box-shadow: 0 .5rem 1rem rgba(30,30,30,1.15) !important;
}


#login {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 20px;    
}

.form-group {
    margin: 10px;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
}

.margin {
    margin: 0 auto;
}

.card-body {
    width: 36rem;
}

.card-text {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
}

.btn {
    margin: 0 auto;
    color: white !important;
    background-color: rgb(236,27,34) !important;
}

.close {
    display: none;
}

.modal-header {
    margin: 0 auto !important;
    border-bottom-color: white !important;
}
