body {
  height: auto;
  background-image: url("../images/3ds_grass_texture241_173.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#container {
  margin:50px;
  display: flex;
}


#navigation {
  display: flex;
}

#add-event {
  margin-right:  20px;
}

#addBtn {
  margin-top: 20px;
  margin-left: 35%;
  background-color: rgb(236,27,34) !important;
}

#search-events {
  width: 400px;
  height: auto;
  margin: 0 auto;
  text-align: right;
}

#events-display {
    width: 100%;
    height: 760px;
    overflow: scroll;
  background: white;  
}

#eventLocation {
color:white;

}

#eventLocation:hover {
  color: #1fa83f;
  text-decoration: underline;
}

#API-display {
  display: flex;
  text-align: center;
  width: 90%;
  height: 600px;
  margin: 0 auto;
  
}

#parkDetails {
z-index: 2;
}

#map-card-title {
  height: 10%;
  width: 100%;
}

#google-maps-box {
  height: 83%;
  width: 100%;
  
}

#google-maps-display {
  top: -30px;
  height: 102%;
  width: 50%; 
    
}

#location-SearchBox {
  width: 25%;
  position: relative;
  left: 12%;
  bottom: 90px;
}

#yelp-display {
height: 60%;
  width: 50%;
  top: 85px;
  z-index: 1;
}

#logo {
  width: 200px;
  height: 100px;
  margin: 0 auto;
  
}

a {
  margin: 0 auto;
}


.center {
  text-align: center;
}



.inputFormat {
  width: 100%;
  margin-bottom: 10px;
}

.search {
  display: flex;
  float: right;
}

.no-highlight {
  color: #889088;
  text-align: center;
}

.highlight {
  background: rgb(136,144,136);
  background: radial-gradient(circle, rgba(136,144,136,1) 0%, rgba(136,144,136,1) 35%, rgba(255,255,255,1) 100%);
  color: white;
  text-align: center;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #777777;
}

.content {
  padding: 0 18px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  color:black;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.navbar {
    width:100%;
    height:140px;
    background-color:white;
}

.dropbtn {

  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: -15%;
  margin-left:-15%;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {display:block;}

.dropdown-content a:hover {background-color: #ddd}

.profile-pic {
  max-width: 200px;
  max-height: 200px;
  display: block;
}

.file-upload {
  display: none;
}

.circle {
  z-index:2;
  margin-top:-10%;
  border-radius: 1000px !important;
  overflow: hidden;
  width: 128px;
  height: 128px;
  border: 8px solid rgba(255, 255, 255, 0.7);
  margin-left: 1000%;
  background-color:white;
}
img {
  max-width: 100%;
  height: auto;
}
.p-image {
position: absolute;
top: 167px;
right: 30px;
color: #666666;
transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
font-size: 1.2em;
}

.upload-button:hover {
transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
color: #999;
}
.card-title {
margin-left: 6.5%;
color:black;
margin-top:5%; 

}

.squad-finder-logo {
border-bottom: 2px black solid;
width:100%;
margin-top:4.5%;

} 

.squad-finder {
margin-top:-8%;
height:200px;
width:200px;
}
#yelp-photos {
height: 270px;
width: 300px;
display: none;
}


#eventTitle {
font-size: 40px;
font-family: 'Meera Inimai', sans-serif;
}

#detailText {
color:white;
}
#placeholder-photos {
height: 450px;
width: 450px;
}

#yelp-display {
width: 50%;
position: absolute;
left: 50%;
}

#yelp-reviews-url {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.eventButton {

margin-left:2%;
width:96%;
margin-top:2%;
background: #555555
}

#eventTitle {
font-size: 45px;
font-family: 'Cinzel', serif;

}

#eventLocation {
font-size: 40px;
font-family: 'Anton', sans-serif;
}



#eventNameInButton {
color:white;
font-family: 'Open Sans', sans-serif;
font-size: 25px;
}

.content {
font-size: 25px;
background: #555555;

}


.myButton {
-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
box-shadow:inset 0px 1px 0px 0px #caefab;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
background:-moz-linear-gradient(top, #77d42a 5%, #5cb811 100%);
background:-webkit-linear-gradient(top, #77d42a 5%, #5cb811 100%);
background:-o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
background:-ms-linear-gradient(top, #77d42a 5%, #5cb811 100%);
background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811',GradientType=0);
background-color:#77d42a;
-moz-border-radius:23px;
-webkit-border-radius:23px;
border-radius:23px;
border:1px solid #268a16;
cursor:pointer;
color:#306108;
font-family:Georgia;
font-size:20px;
font-weight:bold;
padding:14px 68px;
text-decoration:none;
text-shadow:2px 2px 0px #aade7c;
float: right;
margin-top:3%;
margin-right:5%;
}
.myButton:hover {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
background:-moz-linear-gradient(top, #5cb811 5%, #77d42a 100%);
background:-webkit-linear-gradient(top, #5cb811 5%, #77d42a 100%);
background:-o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
background:-ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a',GradientType=0);
background-color:#5cb811;
}
.myButton:active {
position:relative;
top:1px;
}

#leaderHeader {
margin-top: 5%;
font-size: 35px;
float:left;
width:100%; 
}

#eventLeaderInButton {
margin-top: 1%;
font-family: 'Open Sans', sans-serif;
font-size: 25px;
}

#eventDateInButton {
margin-top: 1%;
font-family: 'Open Sans', sans-serif;
font-size: 25px;
}

#eventDescriptionInButton {
margin: 0 auto;
width:80%;
margin-top: 1%;
font-family: 'Open Sans', sans-serif;
font-size: 25px;
}

#checkmark {
float:right;
}

.buttonClassB {
background: green;
}

#xmark {
float: right;
margin-right: 2%;
}

.buttonClassA {
background:red;
}