#banner {
    width: 100%;
    height: auto;
}

#container {
    margin:50px;
    display: flex;
}


#navigation {
    display: flex;
}

#add-event {
    margin-right:  20px;
}

#addBtn {
    margin-top: 20px;
    margin-left: 35%;
}

#search-events {
    width: 400px;
    height: auto;
    margin: 0 auto;
    text-align: right;
}

#events-display {
    width: 100%;
    height: 800px;
    overflow: scroll;
    
}

#API-display {
    text-align: center;
    height: 500px;
    
}

#google-maps-display {
    width: 50%;
}

#yelp-display {
    width: 50%;
}

#logo {
    width: 100px;
    height: 100px;
    
}


#events-dump {

}


.nav {
    width: 95%;
    padding-top: 20px;
    
}

.card-body {
    
}

.inputFormat {
    width: 100%;
    margin-bottom: 10px;
}

.search {
    display: flex;
    float: right;
}

.no-highlight {
    color: #889088;
    text-align: center;
}

.highlight {
    background: #889088;
    color: white;
    text-align: center;
}