
#container {
    margin:50px;
    display: flex;
}


#navigation {
    display: flex;
}

#add-event {
    margin-right:  20px;
}

#addBtn {
    margin-top: 20px;
    margin-left: 35%;
}

#search-events {
    width: 400px;
    height: auto;
    margin: 0 auto;
    text-align: right;
}

#events-display {
    width: 100%;
    height: 800px;
    overflow: scroll;
    
}

#API-display {
    display: flex;
    text-align: center;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    
}

#google-maps-display {
    height: 50%
    width: 50%;
}

#yelp-display {
    width: 50%;
}

#logo {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    
}

a {
    margin: 0 auto;
}
#events-dump {

}

.center {
    text-align: center;
}


.inputFormat {
    width: 100%;
    margin-bottom: 10px;
}

.search {
    display: flex;
<<<<<<< HEAD
}

=======
    float: right;
}

.no-highlight {
    color: #889088;
    text-align: center;
}

.highlight {
    background: rgb(136,144,136);
    background: radial-gradient(circle, rgba(136,144,136,1) 0%, rgba(136,144,136,1) 35%, rgba(255,255,255,1) 100%);
    color: white;
    text-align: center;
}
>>>>>>> ad05ea803f67d507548788033f0cc7b575eef60c
